#ignore .DS_Store file
.DS_Store

# ignore all files in ebird folder
ebd_US-MA_relSep-2020/**

#ignore MARC dataset 
marc website public database 2020_10_27.csv

#ignore ebird metadata
eBird_Basic_Dataset_Metadata_v1.12.pdf
